<h1>WordGame#score</h1>
<p><%= @end_time = Time.now %></p>
<p> Your Score</p>
<p><%= @result[:score] %></p>
<p> Your Duration</p>
<p><%= @result[:time] %></p>
<p> Message </p>
<p><%= @result[:message] %></p>

